body {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  margin: 0;
}
main{
margin: 30px;
}
.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 55%;
}
.accueil{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.menu1{
  width: 140px;
  text-align: center;
  padding-top: 36px;
}

.menu1:hover {
  border-top: solid 3px #0065fc;
}

.menu1 .lienActif {
  padding-top: 20px;
}

.menu1 .lienActif {
  cursor: pointer;
}

nav{
  height: 100px;
}
.logo {
  width: 120px;
  height: 50px;
  margin-top: 20px;
}
.lienActif {
  text-decoration: none;
  color: black;
 
}
.inscription{
  font-weight: bold;
  text-decoration: none;
  padding-top: 20px;
  margin-top: 27px;
}
button {
  background-color: #0065fc;
  color: aliceblue;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
  height: 35px;
  border-color: #0065fc;
}
#text-recherche{
  display: block;
}

.colorBleu{
  color:#0065fc;
}
h1 {
  font-size: 1rem;
}
input {
  width: 236px;
  height: 30px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: none;
  border-right: none;
}
.fa-search{
  display: none;
 
}
i.fas.fa-map-marker-alt {
  background-color: #eeeeee;
  padding: 8px;
  font-size: 140%;
  border-radius: 10px 1px 1px 10px;
  height: 18px;
}
.filtres {
  display: flex;
  flex-wrap: wrap;
}
.filtres i{
  color: #0065fc;
}
.titre-filtres {
  margin: 1rem;
  padding: 1rem;
}
.filtre {
  margin: 1rem;
  border: solid #f2f2f2;
  border-radius: 2rem;
}
.fas {
  background-color: #cadded;
  border-radius: 50%;
  padding: 1rem;
  margin: 0;
}
.nom-filtre {
  padding: 1rem;
  font-size: 14px;
}
.info {
  display: flex;
  flex-wrap: wrap;
}
.info h4 {
  margin-left: 1rem;
}
.info .fas {
  border: solid 1px #f2f2f2;
  background-color: white;
  color: blue;
  padding: 0.6rem 0.4rem;
  font-size: 0.8rem;
  margin: 0;
}
.bloc1 {
  display: flex;
  width: 100%;
}
/*hébergements à marseille*/
.hebergements {
  background-color: #f2f2f2;
  width: 866px;
  height: 625px;
  padding: 10px 10px;
  border-radius: 3%;
  margin: 20px;
}
.hebergements-marseille {
  margin: 1rem;
}
#conteneur1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.fa-star {
	color:#2C75FF;
	cursor: pointer;
	padding: 0.0625rem;
}
.rating {
	display: flex;
	flex-direction: column;
}
.stars {
	display:flex;
	font-size: 1em;
}
.stars span{
  color:#f2f2f2;
}
.card {
  height: 213px;
  width: 246px;
  border-radius: 10%;
  border: solid #c5c5c5;
  background-color: white;
  padding: 10px ;
  margin: 5px 0;
  box-shadow:  0 0 16px #0000002e;
}
.card img {
  height: 110px;
  width: 232px;
  border-radius:10%;
  padding:5px;
  object-fit: cover;
}
/*les plus populaires*/
.populaires {
  display: flex;
  flex-direction: column;
  width: 421px;
  height: 625px;
  background-color: #f2f2f2;
  justify-content: space-around;
  border-radius: 3%;
  padding: 15px;
  align-items: center;
  margin: 20px;
}
.card-populaires{
  padding-right: 10px;
  display: flex;
  border-radius: 10px;
  height: 151px;

}
.card-populaires img {
  width: 125px;
  height: 130px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 8px;
  object-fit: cover;
  box-shadow:  0 0 16px #0000002e;
}
figcaption{
  padding: 10px;
  background-color: white;
}
#cardsoleil {
  width: 344px;
  height: 146px;
  background-color: white;

}
#cardcoeur {
  width: 344px;
  height: 146px;
  background-color: white;
}
#cardbleu {
  width: 344px;
  height: 146px;
  background-color: white;
}

.titre-populaire  {
  width: 340px;
  display: flex;
  justify-content:space-between ;
}
.titre-populaire i{
  background-color:#f2f2f2;
  padding: 0em;
}
/*activite à marseille*/
.activites{
  margin: 30px 20px;
  overflow: hidden;
}
.activites-grid {
  display: grid;
  grid-template-columns: 0.9fr 0.9fr 0.9fr 0.9fr;
  grid-template-areas:
    'c1 c2 c4 c5'
    'c1 c2 c4 c5'
    'c1 c2 c4 c5'
    'c1 c2 c4 c6'
    'c1 c3 c4 c6'
    'c1 c3 c4 c6';
  width: 1342px;
}

#card1 {
  grid-area: c1;
  width: 300px;
  height: 445px;
  border-radius: 6%;
  border:solid 1px #f2f2f2;
}
#card1 img {
  width: 300px;
  height: 388px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  object-fit: cover;
  box-shadow:  0 0 16px #0000002e;
}
#card2 {
  grid-area: c2;
  width: 260px;
  height: 237px;
  border-radius: 6%;
  border:solid 1px #f2f2f2;
}
#card2 img {
  width: 260px;
  height: 185px;
  border-radius: 5%;
  object-fit: cover;
  box-shadow:  0 0 16px #0000002e;
}
#card3 {
  grid-area: c3;
  width: 260px;
  height: 162px;
  border-radius: 6%;
  border:solid 1px #f2f2f2;
}
#card3 img {
  width: 260px;
  height: 110px;
  border-radius: 5%;
  object-fit: cover;
  box-shadow:  0 0 16px #0000002e;
}
#card4 {
  grid-area: c4;
  width: 300px;
  height: 446px;
  border-radius: 6%;
  border:solid 1px #f2f2f2;
}
#card4 img {
  grid-area: c4;
  width: 300px;
  height: 386px;
  border-radius: 5%;
  object-fit: cover;
  box-shadow:  0 0 16px #0000002e;
}
#card5 {
  grid-area: c5;
  width: 302px;
  height: 195px;
  border-radius: 6%;
  border:solid 1px #f2f2f2;
}
#card5 img {
  grid-area: c5;
  width: 302px;
  height: 139px;
  border-radius: 5%;
  object-fit: cover;
  box-shadow:  0 0 16px #0000002e;
}
#card6 {
  grid-area: c6;
  width: 302px;
  height: 195px;
  border-radius: 6%;
  border:solid 1px #f2f2f2;
}
#card6 img {
  grid-area: c6;
  width: 302px;
  height: 139px;
  border-radius: 5%;
  object-fit: cover;
  box-shadow:  0 0 16px #0000002e;
}
.titre-activite{
  padding-inline-start: 15px;
  font-size: 1rem;
}

footer {
  background-color: #f2f2f2;
  width: 1440px;
  height: 130px;
  padding-top: 30px;
  padding: 40px 50px 50px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}


@media (min-width: 376px) and (max-width: 900px) {

  .activites-grid {
    grid-template-columns: 3fr;
    grid-template-rows: auto;
    grid-template-areas:
    'c1 c2 c3 '
    'c4 c5 c6 ';
  }
  .card-populaires{
    width: 325px;
    height: 145px;
    margin: 5px;
  }
  #card1, #card2, #card3, #card4, #card5, #card6{
    width: 325px;
    height: 195px;
  }
  #card1 img, #card2 img, #card3 img, #card4 img, #card5 img, #card6 img{
    width: 100%;
    height: 135px;
  }
}

@media (max-width: 375px) {
  main{
    margin:0;
  }
  header{
    margin: 0;
    flex-wrap: wrap;
  }
  nav {
    height: auto;
  }

  .titre-filtres {
    width: 370px;
  }
  .filtre{
    margin: 0.8rem;
  }
  .menu1{
    flex-wrap: wrap;
    
  }
  .inscription{
    order: 1;
    padding: 0;
    margin: 0;
    margin-top: 37px;
    margin-left: 54%;
    
  }
  .menu {
    order: 2;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: 0;
  }

  .menu1{
    width: 45%;
    text-align: center;
    padding-top: 15Px;
    padding-bottom: 15px;
    border-bottom: solid 3px #eeeeee;
  }

  .menu1:hover{
    border-top: none;
    border-bottom: solid 3px #0065fc;
  }
h1{
  font-weight: bold;
  letter-spacing:2px;
}
.titre, .info, .localite{
  margin-left: 17px;
}

  /*#menu-activite{
    order: 3;
    width: 187px;
  }
  #menu-hebergement{
    order: 2;
    width: 187px;
  }*/
  .fa-search{
    display: block;
    background-color: #0065fc;
    padding: 0;
  }
  button{
    border-radius: 10px;
  }
  #text-recherche{
    display: none;
  }
  .hebergements{
    height: auto;
    order: 2;
    width: 100%;
  }
  .card{
    width: 325px;
  }
  .populaires{
    order: 1;
    width: 100%;
  }
  .card-populaires{
    width: 100%;
    height: 145px;
    margin: 5px;
  }
  .bloc1{
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
  }
  .activites-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'c1'
      'c2'
      'c3'
      'c4'
      'c5'
      'c6';
    
  }
  #card1, #card2, #card3, #card4, #card5, #card6{
    width: 325px;
    height: 195px;
  }
  #card1 img, #card2 img, #card3 img, #card4 img, #card5 img, #card6 img{
    width: 100%;
    height: 135px;
  }
  #pied-de-page{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .menu-footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  
  }
  footer{
    height: auto;
  }
}